
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    border-color: red;
}

body {
    margin: 0px;
    padding: 0px;
}

/* Header CSS */
.header-flex-container {
    padding: 2%;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    background: #1f2937;
    height: 100px;

}

.header-left-group {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;    /* ✅ Horizontal center */   
}

.header-logo {
    display: flex; 
    width: 100px;
    
}

.header-title {
    font-size: 680%;    
    font-weight: 900;
}

/* Splitting header into right and left groups */
.header-right-group {
    display: flex;
    gap: 20px; /* space between the three items */
  }

.header-right-item {
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Content that sits beneath the header */
.content-one-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1%;
    background: #1f2937;
    color: #f9faf8;
}

.content-one-text {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    box-sizing: border-box;
    padding: 1%;
    
    min-width: 0; /* ✅ super important! lets it shrink properly inside flex */
}
/* Class for the image container */
.content-image {
    display: flex;
    flex: 0 0 auto;
    margin: 1%;
}

/* Gem image */
.gem-image {
    width: 300px;
    height: auto; /* maintains aspect ratio */
    object-fit: contain; /* keeps the image from getting squashed */

}
/* Text formatting */
.heading {
    font-size: 48px;
    font-weight: 900;
}

.header-sub-heading {
    padding: 1% 0%;
    font-size: 18px;
    color: #f9faf8;
    font-style: italic;
    font-weight: 900;
}

.paragraph-sub-heading {
    font-weight: 900;
    color: #1f2937;
    padding: 0.5% 0%;

}

.italize {
    font-style: italic;
    font-weight: 100;
}    


.sub-heading {
    font-size: 32px;
    font-weight: 900;
    padding: 1% 0%;
}
/* Content two */
.content-two-container {
    display: flex;
    flex-direction: column;
    color: #1f2937;
    margin: 1%;
}

.content {
    padding: 0.5% 0%
}

.content-three-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.quote-wrapper {
    max-width: 800px;
    width: 100%;
}

.quote-content {
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.quotee {
    text-align: right;
    justify-content: right;
    font-size: 18px;
    padding: 10px 0;
    font-weight: 400;
    font-style: italic;
}
.content-three-button {
    border: 4px solid #1f2937;
    font-size: 36px ;
    font-style: italic;
    font-weight: 100;

}

.copyright {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    font-size: 36px ;
    font-weight: 800;
    padding: 50px 
}