.header-flex-container {
    display: flex;
    justify-content: space-between;
    background: #4682b4;

}
.header-left-group {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
}
.header-logo {
    background: steelblue;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-right-group {
    display: flex;
    gap: 20px; /* space between the three items */
  }

.header-item {
  height: 100px;
  width: 100px;
  /* display: flex; */*
  align-items: center;
  justify-content: center;
}